
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>G-Global, Custom and Logistics Broker</title>
        <link rel="stylesheet" href="http://g-global.com.mx/demo/assets/css/style.css">
    </head>
    <body>
        <header class="header_master">
            <div class="container">
                <div class="row row_flex">
                    <div class="col-xs-5">
                        <a href="http://g-global.com.mx/demo" class="header_master_logo">
                            <img v-show="header_fix == false" src="http://g-global.com.mx/demo/assets/img/svg/g_global_logo.svg" alt="G-Global, Custom and Logistics Broker">
                            <img v-show="header_fix == true" src="http://g-global.com.mx/demo/assets/img/svg/g_global_logo_white.svg" alt="G-Global, Custom and Logistics Broker">
                        </a>
                    </div>
                    <div class="col-xs-7">
                        <ul class="list-inline text-xs-right">
                            <li class="list-inline-item">
                                <div class="social_media">
                                    <a href="#" class="social_media_fb"></a>
                                    <a href="#" class="social_media_tw"></a>
                                    <a href="#" class="social_media_in"></a>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Español <i class="fa fa-angle-down"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="nav_btn" id="nav_btn">
                                    <span class="nav_btn_bar"></span>
                                    <span class="nav_btn_bar"></span>
                                    <span class="nav_btn_bar"></span>
                                </a>

                                <div class="nav_overlay_menu" id="nav_overlay_menu">
                                    <div class="nav_overlay_menu_body">
                                        <ul>
                                            <li class="i_transition_item"><a href="http://g-global.com.mx/demo">Inicio</a></li>
                                            <li class="i_transition_item"><a href="http://g-global.com.mx/demo/nuestra-filosofia/">Nuestra Filosofía</a></li>
                                            <li class="i_transition_item"><a href="http://g-global.com.mx/demo/soluciones/">Soluciones</a></li>
                                            <li class="i_transition_item"><a href="http://g-global.com.mx/demo/blog/">Artículos</a></li>
                                            <li class="i_transition_item"><a href="http://g-global.com.mx/demo/contacto/">Contacto</a></li>
                                        </ul>

                                        <p>
                                            <small>
                                                2016
                                                G-Global, Custom and Logistics Broker
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

<section class="cover">
    <img src="http://g-global.com.mx/demo/assets/img/svg/g_global_icono_dark.svg" class="cover_icono_overlay" alt="G-Global, Custom and Logistics Broker">
    <div class="cover_bg" style="background-image: url(http://g-global.com.mx/demo/assets/img/backgrounds/1.jpg)"></div>
    <div class="cover_description text-xs-center">
        <h1 class="m-a-0 m-b-2">Haz Llegado a tu Destino</h1>
        <p class="lead secondary_color">G-Global - Trascendiendo Fronteras</p>
    </div>
    <img src="http://g-global.com.mx/demo/assets/img/svg/mouse_down.svg" class="cover_mouse_down" alt="G-Global">
</section>
<section class="content nosotros content_lg bg_white">
    <div class="container">

        <img src="http://g-global.com.mx/demo/assets/img/svg/filosofia.svg" class="content_title right parallax_el" data-speed="6" alt="G-Global, Nuestra Filosofía">

        <div class="content_body">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="secondary_color m-a-0 m-b-2">Nuestra Filosofía</h1>
                    <p class="lead secondary_color m-a-0 m-b-3">
                        Sé feliz y haz Intensamente Feliz, hasta que transformes a clientes en fanáticos y a nosotros en siervos.
                    </p>
                    <a href="#" class="btn btn-primary">Continuar leyendo</a>
                </div>
                <div class="col-sm-5 col-sm-offset-1 text-xs-center text-sm-right relative">
                    <div class="img_parallax_bg left parallax_el" data-speed="7"></div>
                    <img src="http://g-global.com.mx/demo/assets/img/g_global_filosofia.jpg" class="parallax_el img_full" data-speed="4" alt="G-Global, Nuestra Filosofía">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 relative">
                    <div class="img_parallax_bg right parallax_el" data-speed="7"></div>
                    <img src="http://g-global.com.mx/demo/assets/img/g_global_filosofia.jpg" class="parallax_el img_full" data-speed="5" alt="G-Global, Nuestra Filosofía">
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <h1 class="secondary_color m-a-0 m-b-2">Nuestra Historia</h1>
                    <p class="lead secondary_color m-a-0 m-b-3">
                        Sé feliz y haz Intensamente Feliz, hasta que transformes a clientes en fanáticos y a nosotros en siervos.
                    </p>
                    <a href="#" class="btn btn-primary">Continuar leyendo</a>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="content infografia bg_secondary" style="background-image: url(http://g-global.com.mx/demo/assets/img/backgrounds/2.jpg)">
    <img src="http://g-global.com.mx/demo/assets/img/svg/soluciones.svg" class="content_title static left parallax_el" data-speed="16" alt="G-Global, Nuestras Soluciones">
    <div class="container">
        <div class="infografia_ruta_header">
            <h1 class="white_color">Nuestras Soluciones</h1>
        </div>
        <!-- ARCHIVO EDITABLE EN: ASSETS->IMG->RUTA.SVG -->

<svg version="1.1" id="infografia_svg" viewBox="0 0 3797 2866">

    <text transform="matrix(1 0 0 1 0 32.2603)" class="st1 st2 st3">Logística</text>
    <text transform="matrix(1 0 0 1 0 104.2603)" class="st1 st4 st5">Internacional</text>
    <text transform="matrix(1 0 0 1 0 150.7603)" class="st1 st2 st6">Nos encargamos de coordinar toda tu </text>
    <text transform="matrix(1 0 0 1 0 178.7603)" class="st1 st2 st6">operación de principio a fin.</text>
    <text transform="matrix(1 0 0 1 906.6066 727.5789)" class="st1 st2 st3">Almacén</text>
    <text transform="matrix(1 0 0 1 906.6066 799.5789)" class="st1 st4 st5">&amp; 3PL</text>
    <text transform="matrix(1 0 0 1 906.6066 841.9789)" class="st1 st2 st6">Centro de Distribución, VMI, CVMI y </text>
    <text transform="matrix(1 0 0 1 906.6066 869.9789)" class="st1 st2 st6">Centro de Distribución USA &amp; TJ</text>
    <g>
        <circle class="st7" cx="433.5" cy="84.1" r="22.5"/>
        <circle class="st1" cx="433.5" cy="84.1" r="7.8"/>
    </g>
    <g>
        <circle class="st7" cx="929.1" cy="643.2" r="22.5"/>
        <circle class="st1" cx="929.1" cy="643.2" r="7.8"/>
    </g>
    <g>
        <circle class="st7" cx="1163" cy="782.1" r="22.5"/>
        <circle class="st1" cx="1163" cy="782.1" r="7.8"/>
    </g>
    <g>
        <circle class="st7" cx="2178" cy="782.1" r="22.5"/>
        <circle class="st1" cx="2178" cy="782.1" r="7.8"/>
    </g>
    <g>
        <circle class="st7" cx="3137.2" cy="1837.2" r="22.5"/>
        <circle class="st1" cx="3137.2" cy="1837.2" r="7.8"/>
    </g>
    <g>
        <circle class="st7" cx="2658.6" cy="1837.2" r="22.5"/>
        <circle class="st1" cx="2658.6" cy="1837.2" r="7.8"/>
    </g>
    <g>
        <circle class="st7" cx="2770.8" cy="782.1" r="22.5"/>
        <circle class="st1" cx="2770.8" cy="782.1" r="7.8"/>
    </g>
    <rect x="484.1" y="79.1" class="st8" width="450" height="10"/>
    <rect id="linea_uno" x="484.1" y="79.1" class="st1" width="79.9" height="10"/>
    <rect x="924.1" y="89.1" class="st8" width="10" height="500"/>
    <rect id="linea_dos" x="924.1" y="89.1" class="st1" width="10" height="86"/>
    <g class="svg_btn">
        <path class="st9" d="M196.3,279.3H2.3c-1.7,0-3-1.3-3-3v-39c0-1.7,1.3-3,3-3h194c1.7,0,3,1.3,3,3v39
            C199.3,277.9,198,279.3,196.3,279.3z"/>
        <text transform="matrix(1 0 0 1 16.698 260.7209)" class="st10 st2 st11">Continuar Leyendo</text>
    </g>
    <g class="svg_btn">
        <path class="st9" d="M1103.6,956.2h-194c-1.7,0-3-1.3-3-3v-39c0-1.7,1.3-3,3-3h194c1.7,0,3,1.3,3,3v39
            C1106.6,954.9,1105.3,956.2,1103.6,956.2z"/>
        <text transform="matrix(1 0 0 1 924.0024 937.6895)" class="st10 st2 st11">Continuar Leyendo</text>
    </g>
    <text transform="matrix(1 0 0 1 2230.6064 727.5789)" class="st1 st2 st3">Agente Aduanal Americano </text>
    <text transform="matrix(1 0 0 1 2230.6064 799.5789)" class="st1 st4 st5">En el puerto de </text>
    <text transform="matrix(1 0 0 1 2230.6064 871.5789)" class="st1 st4 st5">Long Beach o </text>
    <text transform="matrix(1 0 0 1 2230.6064 943.5789)" class="st1 st4 st5">aduana SD</text>
    <text transform="matrix(1 0 0 1 2230.6064 997.7789)" class="st1 st2 st6">Realizamos los documentos necesarios para importar </text>
    <text transform="matrix(1 0 0 1 2230.6064 1026.7789)" class="st1 st2 st6">y exportar por la aduana de San Diego</text>
    <g class="svg_btn">
        <path class="st9" d="M2427.6,1123.2h-194c-1.7,0-3-1.3-3-3v-39c0-1.7,1.3-3,3-3h194c1.7,0,3,1.3,3,3v39
            C2430.6,1121.9,2429.3,1123.2,2427.6,1123.2z"/>
        <text transform="matrix(1 0 0 1 2248.0024 1104.6895)" class="st10 st2 st11">Continuar Leyendo</text>
    </g>
    <g class="svg_btn">
        <path class="st9" d="M2907.5,2069.1h-194c-1.7,0-3-1.3-3-3v-39c0-1.7,1.3-3,3-3h194c1.7,0,3,1.3,3,3v39
            C2910.5,2067.8,2909.2,2069.1,2907.5,2069.1z"/>
        <text transform="matrix(1 0 0 1 2727.8931 2050.5852)" class="st10 st2 st11">Continuar Leyendo</text>
    </g>
    <rect x="1213" y="777.1" class="st8" width="900" height="10"/>
    <rect id="linea_tres" x="1213" y="777.1" class="st1" width="125" height="10"/>
    <g stroke="#fff" stroke-width="2" fill="none">
        <path id="icono_uno" class="st7" d="M824.5,162.7c-16.4,0-29.8,13.4-29.8,29.8s13.4,29.8,29.8,29.8c16.4,0,29.8-13.4,29.8-29.8
            C854.4,175.9,841,162.7,824.5,162.7z M798.4,192.4c0-4.4,1.1-8.5,3-12.2c0,4.6,2.4,8.6,3.7,9.7c3.8,3.8,9.4,2.7,10.1,5.8
            s-3.8,3.2-3.5,5.6c0.4,2.4,6.2,3,4.9,5.4c-1.7,3,1.2,3.2,0.4,6.9c-0.5,2.1,2.4,2.4,3.5,0.9c0.9-1.2,0.6-2.6,2.3-4.4
            c2.1-2.2,6.7-2.6,6.2-6.1c-0.9-6-6.7-6.8-9.1-8.3c-2.8-1.6-2.2-5.4-2.8-7.2c-0.9-2.6-3.8,0.7-5.4-0.7c-2.6-2.4,0.5-5.8,2.7-5.8
            c4.6,0.1,6,4.6,7.7,4.4c1.6-0.1,2.7-2.4,3-3.7c0.6-2.7-1-1.5-1.7-2.8c-1-2.1,4.4-4.1,5.1-5.6c1.3-2.7-6.9-3.5-7.2-6.5
            c-0.1-1.2,2.2-1.8,4.8-1.8c2.9,0.1,5.7,0.9,8.3,1.8c2.4,1.8,4,4.8,4.3,8.2c0.2,2.9-2.9,5.6-6.2,6.6c-2.3,0.7-4,3.8-3,6.2
            c0.7,1.7,5.8,1.3,5.4,5c-0.4,2.9,3.5,3.8,4.9,3.7c1.3-0.1,3.5,2.3,2.4,3.3c-1.1,1.1-3,1.1-2.8,3.9c0.1,0.9,2.6,0.7,2.6,1.9
            s-1.2,2.7-0.2,4c0.2,0.4,0.5,0.5,0.6,0.7c-4.6,4.3-10.8,6.9-17.7,6.9C810,218.6,798.4,206.9,798.4,192.4z M778.1,178.1
            c-0.7,0-1.6-0.2-2.2-0.6c-1.7-1.1-2.4-3.3-1.6-5.2c8.5-20,28.1-32.9,49.9-32.9c7.3,0,14.4,1.5,21.1,4.3c7.8,3.3,14.9,8.5,20.3,15.1
            l3-1.8c1.1-0.6,2.4,0.1,2.6,1.5l0.1,15c0,1.3-1.3,2.1-2.4,1.5l-13-7.4c-1.1-0.6-1.1-2.2,0-2.9l2.7-1.6c-4.5-5-10.1-9-16.3-11.7
            c-5.7-2.4-11.7-3.7-17.9-3.7c-18.5,0-35.1,11-42.4,28C781.3,177.2,779.8,178.1,778.1,178.1z M824.8,243.8c-8.3,0-16.2-1.8-23.8-5.5
            c-7.7-3.8-14.4-9.3-19.5-16.1l-3.2,1.6c-1.1,0.6-2.4-0.2-2.4-1.6l0.6-15c0-1.2,1.5-2.1,2.6-1.3l12.7,8c1.1,0.7,1,2.3-0.1,2.9
            l-2.7,1.5c4.3,5.2,9.6,9.6,15.7,12.5c6.3,3,13,4.6,20.1,4.6c17.4,0,33.6-10.1,41.3-25.6c0.5-1,1.2-1.8,2.3-2.2
            c1.3-0.5,2.8-0.4,3.9,0.5c1.7,1.1,2.2,3.4,1.2,5.4C864.4,232.2,845.6,243.8,824.8,243.8z"/>
    </g>
    <g stroke="#fff" stroke-width="2" fill="none">
        <path id="icono_dos" class="st7" d="M1539.6,681.9l-53.7-21.9c-1.9-0.8-3.9-0.8-5.8,0l-52.8,21.9c-1.4,0.6-2.4,2-2.4,3.5v7.9
            c0,2.1,1.6,3.8,3.8,3.8h2.9c0.5,0,1,0.4,1,1V748c0,4.6,3.8,8.5,8.5,8.5h2.5v-45.3h80v45.3h2.5c4.6,0,8.5-3.8,8.5-8.5v-49.9
            c0-0.5,0.4-1,1-1h2.9c2.1,0,3.8-1.6,3.8-3.8v-7.9C1541.9,683.9,1541,682.5,1539.6,681.9z M1462.8,697.1h-18.9v-8.5h18.9V697.1
            L1462.8,697.1z M1493,697.1h-18.9v-8.5h18.9V697.1z M1523.1,697.1h-18.9v-8.5h18.9V697.1L1523.1,697.1z M1467.7,737.6h-5.4v7.4
            h-2.5v-7.4h-5.4c-2,0-3.5,1.6-3.5,3.5v11.8c0,2,1.6,3.5,3.5,3.5h13.3c2,0,3.5-1.6,3.5-3.5v-11.8
            C1471.2,739.1,1469.6,737.6,1467.7,737.6z M1490.1,737.6h-5.4v7.4h-2.5v-7.4h-5.4c-2,0-3.5,1.6-3.5,3.5v11.8c0,2,1.6,3.5,3.5,3.5
            h13.3c2,0,3.5-1.6,3.5-3.5v-11.8C1493.7,739.1,1492.1,737.6,1490.1,737.6z M1513,737.6h-5.4v7.4h-2.5v-7.4h-5.4
            c-2,0-3.5,1.6-3.5,3.5v11.8c0,2,1.6,3.5,3.5,3.5h13.3c2,0,3.5-1.6,3.5-3.5v-11.8C1516.6,739.1,1515,737.6,1513,737.6z
             M1478.9,716.3h-5.4v7.4h-2.5v-7.4h-5.4c-2,0-3.5,1.6-3.5,3.5v11.8c0,2,1.6,3.5,3.5,3.5h13.3c2,0,3.5-1.6,3.5-3.5v-11.8
            C1482.4,717.8,1480.9,716.3,1478.9,716.3z M1502,716.3h-5.4v7.4h-2.5v-7.4h-5.4c-2,0-3.5,1.6-3.5,3.5v11.8c0,2,1.6,3.5,3.5,3.5
            h13.3c2,0,3.5-1.6,3.5-3.5v-11.8C1505.5,717.8,1504,716.3,1502,716.3z"/>
    </g>
    <g stroke="#fff" stroke-width="2" fill="none">
        <path id="icono_tres" class="st7" d="M1915.6,721.1l-2.1,1l-2.1-1c-12.1-6.4-25.9-15.7-26-31v-8h-5.6v10.8h-10.2v-10.8h-22
            c-8,0-14.4,6.4-14.4,14.4v47.9c0,8,6.4,14.4,14.4,14.4h54.1c8,0,14.4-6.4,14.4-14.4v-23.7C1916,720.8,1915.9,720.9,1915.6,721.1z
             M1850.4,725.3l5.5,6.5c0,0-1.8,0-3.9,0v8.4h-3v-8.4h-3.9L1850.4,725.3z M1868.2,748.1h-21.7v-2.7h21.7V748.1L1868.2,748.1z
             M1865.8,731.8v8.4h-3.1v-8.4h-3.9l5.5-6.5l5.5,6.5C1869.8,731.8,1868,731.8,1865.8,731.8z M1913.6,665c-5.8,4.6-13.8,7.2-23.7,7.2
            v18c0,11.5,9.6,19.7,23.7,27.1c14-7.4,23.6-15.6,23.7-27.1v-18C1927.4,672.1,1919.4,669.5,1913.6,665z M1913.6,713.2V690h-20.1
            v-14.5c7.9-0.5,14.6-2.5,20.1-6.3V690h20.1C1933.7,698.5,1927.6,705.4,1913.6,713.2z"/>
    </g>
    <rect x="2828.2" y="777.1" class="st8" width="314" height="10"/>
    <rect id="linea_cuatro" x="2828.2" y="777.1" class="st1" width="73.3" height="10"/>
    <rect x="3132.2" y="787" class="st8" width="10" height="1000"/>
    <rect id="linea_cinco" x="3132.2" y="787" class="st1" width="10" height="156.5"/>
    <text transform="matrix(1 0 0 1 2710.4907 1851.4268)"><tspan x="0" y="0" class="st1 st2 st3">Agente Aduanal</tspan><tspan x="0" y="72" class="st1 st4 st5">Mexicano</tspan><tspan x="0" y="115.4" class="st1 st2 st6">98 años de experiencia nos respaldan.</tspan></text>
    <g stroke="#fff" stroke-width="2" fill="none">
        <path id="icono_cuatro" class="st7" d="M2725.6,1748.7c-6.8,0-12.3,5.5-12.3,12.3c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3
            C2738,1754.2,2732.4,1748.7,2725.6,1748.7z M2725.6,1767.2c-3.4,0-6.2-2.8-6.2-6.2s2.8-6.2,6.2-6.2s6.2,2.8,6.2,6.2
            S2729,1767.2,2725.6,1767.2z M2820.6,1736.7l-16.8,10.4c-0.3-0.7-0.5-1.5-0.5-2.3v-16.4c0-0.8,0.2-1.5,0.4-2.1L2820.6,1736.7z
             M2805.9,1723.5c1-0.7,2.1-1.1,3.4-1.1h30.1c1.1,0,2.1,0.3,2.9,0.8l-18.4,11.4L2805.9,1723.5z M2827.2,1736.7l17.5-10.9
            c0.4,0.8,0.6,1.6,0.6,2.6v16.4c0,1-0.3,1.9-0.7,2.7L2827.2,1736.7z M2800.3,1753.7h31.4v6.3h-30.1c-0.4-5.2-3.3-9.8-7.6-12.3v0
            c0,0,0.1,0,0.1,0l-0.1-0.2v-63h6.3V1753.7L2800.3,1753.7z M2842.1,1750c-0.8,0.4-1.7,0.7-2.7,0.7h-30.1c-1.2,0-2.3-0.3-3.2-0.9
            l17.8-11L2842.1,1750z M2820.6,1705.1l-16.8,10.4c-0.3-0.7-0.5-1.5-0.5-2.3v-16.4c0-0.8,0.2-1.5,0.4-2.1L2820.6,1705.1z
             M2805.9,1692c1-0.7,2.1-1.1,3.4-1.1h30.1c1.1,0,2.1,0.3,2.9,0.8l-18.4,11.4L2805.9,1692z M2827.2,1705.1l17.5-10.9
            c0.4,0.8,0.6,1.6,0.6,2.6v16.4c0,1-0.3,1.9-0.7,2.7L2827.2,1705.1z M2842.1,1718.4c-0.8,0.4-1.7,0.7-2.7,0.7h-30.1
            c-1.2,0-2.3-0.3-3.2-0.9l17.8-11L2842.1,1718.4z M2761.5,1683.4c-1.6-3.2-4.9-5.2-8.4-5.2h-20.4c-3.5,0-6.3,2.8-6.3,6.3v33h-6.3
            c-4.3,0-7.9,3.5-7.9,7.9v27.7c2.7-4.5,7.7-7.6,13.3-7.6c8.2,0,14.9,6.4,15.5,14.4h29.6c0.6-8.1,7.3-14.4,15.5-14.4
            c2.9,0,5.5,0.8,7.8,2.1v-0.1L2761.5,1683.4z M2773.4,1730.2h-35.5c-0.9,0-1.6-0.7-1.6-1.6v-39.1c0-0.9,0.7-1.6,1.6-1.6h15.5
            c0.6,0,1.1,0.3,1.4,0.8l20.1,39.1C2775.3,1728.9,2774.6,1730.2,2773.4,1730.2z M2786.2,1748.7c-6.8,0-12.3,5.5-12.3,12.3
            c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3C2798.5,1754.2,2793,1748.7,2786.2,1748.7z M2786.2,1767.2c-3.4,0-6.2-2.8-6.2-6.2
            s2.8-6.2,6.2-6.2s6.2,2.8,6.2,6.2S2789.6,1767.2,2786.2,1767.2z"/>
    </g>
    <rect x="1307.6" y="1832.2" class="st8" width="1300" height="10"/>
    <rect id="linea_seis" x="2494" y="1832.2" class="st1" width="0" height="10"/>
</svg>    </div>
</section>

<section class="content content_sm clientes">
    <div class="container">
        <div class="row row_flex">
            <div class="col-sm-4">
                <h1 class="secondary_color m-a-0 m-b-2">Clientes Felices</h1>
                <p class="m-b-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hica ex unde laudantium animi eum sapiente.</p>
                <a href="#" class="btn btn-primary">Lista de Clientes</a>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="http://placehold.it/350x180" class="img_full" alt="G-Global, Custom and Logistics Broker">
                    </div>
                    <div class="col-sm-3">
                        <img src="http://placehold.it/350x180" class="img_full" alt="G-Global, Custom and Logistics Broker">
                    </div>
                    <div class="col-sm-3">
                        <img src="http://placehold.it/350x180" class="img_full" alt="G-Global, Custom and Logistics Broker">
                    </div>
                    <div class="col-sm-3">
                        <img src="http://placehold.it/350x180" class="img_full" alt="G-Global, Custom and Logistics Broker">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer_master">
            <img src="http://g-global.com.mx/demo/assets/img/svg/g_global_icono.svg" class="footer_master_bg" alt="G-Global Custom and Logistics Broker">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="#" class="footer_logo">
                            <img src="http://g-global.com.mx/demo/assets/img/svg/g_global_logo_white_full.svg" alt="G-Global Custom and Logistics Broker">
                        </a>
                        <p class="m-a-0 m-t-2">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quae dolorem neque, facilis veniam labore corrupti nemo atque.
                                <a href="#" class="link alternate_color">Continuar Leyendo <i class="fa fa-angle-right"></i></a>
                            </small>
                        </p>
                    </div>
                    <div class="col-sm-7 col-sm-offset-1 text-sm-right">
                        <ul class="list-inline m-b-2">
                            <li class="list-inline-item"><a href="#">Inicio</a></li>
                            <li class="list-inline-item"><a href="#">Filosofía</a></li>
                            <li class="list-inline-item"><a href="#">Servicios</a></li>
                            <li class="list-inline-item"><a href="#">Blog</a></li>
                            <li class="list-inline-item"><a href="#">Contacto</a></li>
                        </ul>
                        <h4>Comunícate con Nosotros</h4>
                        <span class="m-r-1">
                            <span class="alternate_color">MX</span>:+52 (664) 380 5018
                        </span>
                        <span class="alternate_color">US</span>:+1 (619) 661 6292

                        <ul class="list-inline small_list m-a-0 m-t-2">
                            <li class="list-inline-item"><a href="#"><small>Políticas de Privacidad</small></a></li>
                            <li class="list-inline-item"><a href="#"><small>Se parte de G-Global</small></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="http://g-global.com.mx/demo/assets/js/bootstrap.min.js"></script>
        <script src="http://g-global.com.mx/demo/assets/js/snap.svg-min.js"></script>
        <script src="http://g-global.com.mx/demo/assets/js/vue.js"></script>
        <script src="http://g-global.com.mx/demo/assets/js/general.js"></script>
                <script>
            $(document).ready(function(){
                $('a[href="#"]').click(function(e){
                    e.preventDefault();
                });
            })
        </script>
    </body>
</html>
